# Простые типы данных

In [2]:
int_type = 10
type(int_type)

int

In [4]:
float_type = 5.5
type(float_type)

float

In [5]:
type(10.)

float

In [6]:
some_string = 'Hello, World!'
type(some_string)

str

In [6]:
my_bool = True
# my_bool = False
type(my_bool)

bool

In [2]:
x = 2
y = 1
print(type(x > y))

<class 'bool'>

In [5]:
srez = 93
print('Ваша оценка за СРЕЗ ', salary, ' балла')

Ваша оценка за СРЕЗ  93  балла

In [6]:
type(str(srez))

str

In [7]:
# преобразование типа int в str
print('Ваша оценка за СРЕЗ ' + str (salary) + ' балла')

Ваша оценка за СРЕЗ 93 балла

In [11]:
some_numbr = input('Введите число: ')
print(type(some_numbr))

Введите число: 321
<class 'str'>

## Строки

In [18]:
'1' + '2'

'12'

In [21]:
some_string = 'Hello, World'

In [22]:
some_string.upper()

'HELLO WORLD'

In [23]:
som_string.lower()

'hello world'

In [24]:
some_string.capitalize()

'Hello world'

In [25]:
some_string.replace('Hello', 'Goodbye')

'Goodbye World'

In [26]:
len(my_string)

11

## Индексация и срезы

In [27]:
some_string = 'Hello, World'

In [28]:
some_string[1]

'l'

In [30]:
my_string[-1]

'd'

In [31]:
my_string[0:5]

'Hello'

In [34]:
my_string = 'Hello World'
my_string[0:8:2]

'HloW'

In [35]:
my_string[6:]

'World'

In [36]:
my_string[:5]

'Hello'

## f-строки

In [43]:
name = 'oleg'
lang = 'python'

t = f"Hello, {name.capitalize()}, i know {lang} a bit"

print(t)
print(type(t))

Hello, Oleg, i know python a bit
<class 'str'>

In [46]:
print(f'Hello {name}, i know {lang} a bit')

Hello oleg, i know python a bit

# Списки

In [63]:
week_list = ['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun']

temp_list = [-3, -5, 0, 2, 1, -3, 5]

temp_by_day = [['Mon', -3], ['Tue', -5],['Wed', 0], ['Thur', 2 ], ['Fri', 1], ['Sat', -3], ['Sun', 5]]

In [18]:
print(type(week_list))
print(type(temp_list))

<class 'list'>
<class 'list'>

In [19]:
# индексация элементов в списке
print(week_list[0])
print(temp_list[-1])

Mon
5

In [20]:
print(temp_list[1:3])

[-5, 0]

In [21]:
print(temp_list[-5:-3])

[0, 2]

In [22]:
print(temp_list[2:])

[0, 2, 1, -3, 5]

In [26]:
# изменение списков
temp_by_day[0][1] = 10
print(temp_by_day)

[['Mon', 10], ['Tue', -30], ['Wed', 0], ['Thur', 2], ['Fri', 1], ['Sat', -3], ['Sun', 5], ['Mon', 5], ['Tue', 10]]

In [27]:
temp_by_day[0:2] = [['Mon', 30], ['Tue', -30]]
print(temp_by_day)

[['Mon', 30], ['Tue', -30], ['Wed', 0], ['Thur', 2], ['Fri', 1], ['Sat', -3], ['Sun', 5], ['Mon', 5], ['Tue', 10]]

In [28]:
a, b = [1, 2]

In [29]:
a

1

In [30]:
b

2

In [31]:
temp_by_day_2 = [['Mon', 5], ['Tue', 10]]
temp_by_day = temp_by_day + temp_by_day_2
print(temp_by_day)

[['Mon', 30], ['Tue', -30], ['Wed', 0], ['Thur', 2], ['Fri', 1], ['Sat', -3], ['Sun', 5], ['Mon', 5], ['Tue', 10], ['Mon', 5], ['Tue', 10]]

## Распаковка списков

In [65]:
data = ['первый', 'второй', 'третий']
first = data[0]
print(first)

первый

In [67]:
first, second, third = ['первый', 'второй', 'третий']
third

'третий'

In [69]:
# когда число элементов неизвестно
first, *_ = ['первый', 'второй', 'третий']
_

['второй', 'третий']

In [66]:
_

['второй', 'третий']

In [70]:
first, *other, last =  ['первый', 'второй', 'третий', 'четвертый']

In [73]:
last

'четвертый'

In [42]:
first

'первый'

In [44]:
last

'четвертый'

## Операции со списками

In [64]:
temp_by_day

[['Mon', -3],
 ['Tue', -5],
 ['Wed', 0],
 ['Thur', 2],
 ['Fri', 1],
 ['Sat', -3],
 ['Sun', 5]]

In [74]:
# Удаляем элемент по индексу
del(temp_by_day[1])
temp_by_day

[['Mon', -3], ['Wed', 0], ['Thur', 2], ['Fri', 1], ['Sat', -3], ['Sun', 5]]

In [75]:
week_list

['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun']

In [76]:
# удаляем элемент по значению
week_list.remove('Mon')
print(week_list)

['Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun']

In [77]:
print(temp_by_day)

[['Mon', -3], ['Wed', 0], ['Thur', 2], ['Fri', 1], ['Sat', -3], ['Sun', 5]]

In [78]:
# добавляем элемент в конец списка
temp_by_day.append(['Wed', 8])
temp_by_day

[['Mon', -3],
 ['Wed', 0],
 ['Thur', 2],
 ['Fri', 1],
 ['Sat', -3],
 ['Sun', 5],
 ['Wed', 8]]

In [33]:
temp_by_day

[['Mon', 3],
 ['Tue', -3],
 ['Wed', 0],
 ['Thur', 2],
 ['Fri', 1],
 ['Sat', -3],
 ['Sun', 5],
 ['Mon', 5],
 ['Dec', 10],
 ['Dec', 17000],
 ['Mon', 7],
 ['Mon', 7],
 ['Mon', 7],
 ['Mon', 5],
 ['Tue', 10],
 ['Mon', 7]]

In [53]:
temp_list

[-3, -5, 0, 2, 1, -3, 5]

In [79]:
# добавляем элемент по нужному индексу
temp_list.insert(2, 1111111)
print(temp_list)

[-3, -5, 1111111, 0, 2, 1, -3, 5]

In [80]:
# считаем количество вхождений элемента в список
temp_list.count(-3)

2

In [56]:
temp_list

[-3, -5, 1111111, 0, 2, 1, -3, 5]

In [83]:
# узнаем индекс элемента в списка (только первое вхождение!)
temp_list.index(-3,1)

6

In [84]:
# разворачиваем список
week_list.reverse()
week_list

['Sun', 'Sat', 'Fri', 'Thur', 'Wed', 'Tue']

In [85]:
# узнаем длину списка
len(week_list)

6

In [86]:
# сумма элементов
sum(temp_list)

1111108

In [87]:
temp_list

[-3, -5, 1111111, 0, 2, 1, -3, 5]

In [88]:
# максимальный элемент элементов
max(temp_list)

1111111

In [89]:
# минимальный элемент элементов
min(temp_list)

-5

In [90]:
# сортировка по возрастанию
sorted(temp_list)

[-5, -3, -3, 0, 1, 2, 5, 1111111]

In [91]:
temp_list

[-3, -5, 1111111, 0, 2, 1, -3, 5]

In [92]:
# изменить порядок сортировки
sorted(temp_list, reverse= True)

[1111111, 5, 2, 1, 0, -3, -3, -5]

In [93]:
# а это сортировка строк по алфавиту
sorted(week_list)

['Fri', 'Sat', 'Sun', 'Thur', 'Tue', 'Wed']

## Цикл while

In [95]:
x = 0
while x != 5:
    x += 1
    print(x)
    break
    
print('Я прекратил работу')

1
Я прекратил работу

In [96]:
x = 5
while x != 0:
    if x % 2 == 0:
        print(x, '- четное число')
    else:
        print(x, '- нечетное число')
    x = x - 1

5 - нечетное число
4 - четное число
3 - нечетное число
2 - четное число
1 - нечетное число

## Цикл for

In [100]:
# итерация по строкам
company_name = 'Orange'
for letter in company_name:
    
    letter = letter.capitalize() 
    print(letter)
#     print(letter)
# print(letter)

O
R
A
N
G
E

## break, pass, continue

In [113]:
phrase = 'Мы все учились понемногу Чему-нибудь и как-нибудь. А.С.Пушкин'

In [112]:
for letter in phrase:
    if letter == ' ':
        break
    print(letter, end='')

Мы

In [114]:
for letter in phrase:
    if letter == ' ':
        continue
    print(letter)
print('finish loop')

М
ы
в
с
е
у
ч
и
л
и
с
ь
п
о
н
е
м
н
о
г
у
Ч
е
м
у
-
н
и
б
у
д
ь
и
к
а
к
-
н
и
б
у
д
ь
.
А
.
С
.
П
у
ш
к
и
н
finish loop

In [115]:
for letter in phrase:
    if letter == ' ':
        pass
    print(letter)
print('finish loop')

М
ы

в
с
е

у
ч
и
л
и
с
ь

п
о
н
е
м
н
о
г
у

Ч
е
м
у
-
н
и
б
у
д
ь

и

к
а
к
-
н
и
б
у
д
ь
.

А
.
С
.
П
у
ш
к
и
н
finish loop

## List comprehension

In [195]:
# Дана последовательность чисел. Мы хотим оставить только те, что делятся на 5
sequence = range(0, 40, 3)
list(sequence)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [196]:
# решение в лоб
for num in sequence:
    if num % 5 == 0:
        print(num)

0
15
30

In [197]:
# если хотим получить отфильтрованный лист, то будет даже так
filtered_sequence = []

for num in sequence:
    if num % 5 == 0:
        filtered_sequence.append(num)

print(filtered_sequence)

[0, 15, 30]

In [200]:
[num for num in sequence if num % 5 == 0]

[0, 15, 30]

In [ ]:
[num for num in sequence if num % 5 == 0]

In [ ]:
[w for w in sequence if w % 5 == 0]

In [ ]:
# с list comprehension получается покороче

[x**2 for x in sequence if x % 5 == 0]