# Описательные статистики

In [4]:
import statistics
import pandas as pd
df = pd.read_csv('sleep75.csv')
df.shape, df.size
df.head()

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.0,0.0,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.0,0.0,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.0,0.0,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.530000,1936
3,30,0,4,0.0,0.0,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.0,0.0,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096

Основные переменные в датафрейме `df`
- `sleep`: продолжительность сна (мин/нед)
- `totwrk`: рабочее время (мин/нед)
- `age`: возраст (в годах)
- `educ`: уровень образрвания в годах
- `male`: гендерный фактор (бинарная, =1 для мужчин)
- `south`: географический фактор (бинарная, =1 если живёт на юге)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 706 entries, 0 to 705
Data columns (total 34 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       706 non-null    int64
 1   black     706 non-null    int64
 2   case      706 non-null    int64
 3   clerical  706 non-null    float64
 4   construc  706 non-null    float64
 5   educ      706 non-null    int64
 6   earns74   706 non-null    int64
 7   gdhlth    706 non-null    int64
 8   inlf      706 non-null    int64
 9   leis1     706 non-null    int64
 10  leis2     706 non-null    int64
 11  leis3     706 non-null    int64
 12  smsa      706 non-null    int64
 13  lhrwage   532 non-null    float64
 14  lothinc   706 non-null    float64
 15  male      706 non-null    int64
 16  marr      706 non-null    int64
 17  prot      706 non-null    int64
 18  rlxall    706 non-null    int64
 19  selfe     706 non-null    int64
 20  sleep     706 non-null    int64
 21  slpnaps   706 non-null    int64
 22  south     706 non-null    int64
 23  spsepay   706 non-null    int64
 24  spwrk75   706 non-null    int64
 25  totwrk    706 non-null    int64
 26  union     706 non-null    int64
 27  worknrm   706 non-null    int64
 28  workscnd  706 non-null    int64
 29  exper     706 non-null    int64
 30  yngkid    706 non-null    int64
 31  yrsmarr   706 non-null    int64
 32  hrwage    532 non-null    float64
 33  agesq     706 non-null    int64
dtypes: float64(5), int64(29)
memory usage: 187.7 KB

Для удобства создадим новый дата фрейм `df1` с количественными переменными: `sleep, totwrk, age`, `educ`

In [12]:
df1 = df[['sleep', 'totwrk', 'age', 'educ']]
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 706 entries, 0 to 705
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sleep   706 non-null    int64
 1   totwrk  706 non-null    int64
 2   age     706 non-null    int64
 3   educ    706 non-null    int64
dtypes: int64(4)
memory usage: 22.2 KB

## Основные описательные статистики по переменным дата фрейма
метод `.descrive()` из библиотеки `pandas`

In [7]:
df1.describe()

             sleep       totwrk         age        educ
count   706.000000   706.000000  706.000000  706.000000
mean   3266.355524  2122.920680   38.815864   12.780453
std     444.413448   947.470123   11.342637    2.784702
min     755.000000     0.000000   23.000000    1.000000
25%    3015.000000  1553.500000   29.000000   12.000000
50%    3270.500000  2288.000000   36.000000   12.000000
75%    3532.250000  2691.750000   48.000000   16.000000
max    4695.000000  6415.000000   65.000000   17.000000

## Корреляции и ковариации
Методы `.cov()` и `.corr()` из библиотеки `pandas` вычисляют ковариационну и корреляционную матрицы соответственно для переменных из датафрейма

In [8]:
df1.cov()

                sleep         totwrk         age        educ
sleep   197503.313140 -135324.471051  455.553501 -117.572899
totwrk -135324.471051  897699.633416 -532.718173   86.023696
age        455.553501    -532.718173  128.655408   -8.396512
educ      -117.572899      86.023696   -8.396512    7.754568

In [9]:
# round( df1.corr(), 3)
df1.corr().round(3)

        sleep  totwrk    age   educ
sleep   1.000  -0.321  0.090 -0.095
totwrk -0.321   1.000 -0.050  0.033
age     0.090  -0.050  1.000 -0.266
educ   -0.095   0.033 -0.266  1.000

Методы `.covariance()` и `correlation()` из библиотеки `statistics` вычисляют ковариацию и корреляция для двух переменных (массивов данных)

## Выборочное среднее
метод ``.mean()`` из библиотеки ``pandas``

In [10]:
df1.mean().round(3)

sleep     3266.356
totwrk    2122.921
age         38.816
educ        12.780
dtype: float64

метод ``.mean()`` из библиотеки ``statistics`` (для одномерного массива). Результат округляется с использованием функции `round()`

In [13]:
round( statistics.mean(df['sleep']), 2)

3266.36

## Стандартное отклонение
метод ``.std()`` из библиотеки ``pandas``

In [14]:
df1.std().round(3)

sleep     444.413
totwrk    947.470
age        11.343
educ        2.785
dtype: float64

метод ``.stdev()`` из библиотеки ``statistics`` (для одномерного массива). Результат округляется с использованием функции `round()`

In [15]:
round( statistics.stdev(df['sleep']), 3)

444.413

Смещённая дисперсия $Var(X)$: метод `.pstdev()` из библиотеки ``statistics`` (для одномерного массива). Результат округляется с использованием функции `round()`

In [16]:
round( statistics.pstdev(df['sleep']), 3)

444.099

# Медиана
метод ``.median()`` из библиотеки ``pandas``

In [17]:
df1.median()

sleep     3270.5
totwrk    2288.0
age         36.0
educ        12.0
dtype: float64

метод `.median()` из библиотеки ``statistics`` (для одномерного массива).

In [18]:
statistics.median(df['sleep'])

3270.5

# Квантили
метод ``.quantile()`` из библиотеки ``pandas``: аргумент $q=0.25$ для первой квартили и $q=0.75$ для третей квартили

In [19]:
df1.quantile(q=0.25), df1.quantile(q=0.75)

(sleep     3015.0
 totwrk    1553.5
 age         29.0
 educ        12.0
 Name: 0.25, dtype: float64,
 sleep     3532.25
 totwrk    2691.75
 age         48.00
 educ        16.00
 Name: 0.75, dtype: float64)

Метод `.quantiles(n=4)` из библиотеки `statistics` вычисляет квантили из условия, что они делят выборку на $n$ равных частей (по умолчанию на 4 части)

In [20]:
statistics.quantiles(data=df['sleep'], n=4)

[3015.0, 3270.5, 3533.75]