<a target="_blank" href="https://colab.research.google.com/github/victorlymarev/pandas/blob/main/notebooks/12-ordering.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Сортировка в таблицах
#### [Ссылка на видео](https://youtu.be/3RfgCZJLsgE)

In [1]:
import pandas as pd
import os

Читаем таблицу

In [2]:
path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = (pd.read_parquet(path_empl)
    .sample(frac=1, random_state=42)
    [['report_dt', 'i_pernr', 'fio', 'pos_name', 'salary']]
)
empl.head()

,report_dt,i_pernr,fio,pos_name,salary
5472,2018-05-31,468,Фетисов Давид Иванович,Продавец-консультант,21300.0
2943,2017-08-31,253,Шарова Дарья Фёдоровна,Продавец-консультант,20500.0
27274,2022-08-31,100209,Шевелев Захар Владимирович,Директор магазина,123000.0
20345,2021-05-31,1260,Сазонова Валентина Владиславовна,Продавец-консультант,28300.0
16129,2020-08-31,963,Петровскиая Анна Леонидовна,Продавец-консультант,34100.0

## Метод sort_values

Сортирует таблицу по отдельным колонкам или строкам 

Синтаксис:

df.sort_values(by=название колонки или список из колонок) - для сортировки по возрастанию

df.sort_values(by=название колонки или список из колонок, ascending=False) - для сортировки по убыванию

df.sort_values(by=название колонки или список из колонок, ascending=список из значений True False)

#### Сортируем по зарплате в порядке возратания

In [3]:
empl.query('report_dt == "2022-12-31"').sort_values(by='salary')

C:\Users\Panda\AppData\Local\Temp\ipykernel_9672\1980972840.py:1: FutureWarning: The behavior of 'isin' with dtype=datetime64[us] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  empl.query('report_dt == "2022-12-31"').sort_values(by='salary')

,report_dt,i_pernr,fio,pos_name,salary
29302,2022-12-31,1741,Васильева Валерия Денисовна,Кассир,20800.0
29150,2022-12-31,1732,Воронков Дмитрий Иванович,Кассир,20800.0
29196,2022-12-31,1767,Зайцева Александра Захаровна,Кассир,20900.0
29352,2022-12-31,1775,Степанова Евгения Руслановна,Кассир,20900.0
28927,2022-12-31,1753,Киреев Федор Николаевич,Кассир,20900.0
...,...,...,...,...,...
29234,2022-12-31,100200,Безруков Глеб Артёмович,Директор магазина,134200.0
28973,2022-12-31,100195,Тимошенко Елизаваета Петровна,Директор магазина,134700.0
29001,2022-12-31,100185,Макаров Артем Арсеньевич,Директор магазина,135300.0
29123,2022-12-31,100152,Вешняков Егор Глебович,Директор магазина,148300.0
28898,2022-12-31,100193,Ларин Федор Алексеевич,Директор магазина,154700.0

#### Сортируем по зарплате в порядке убывания

In [4]:
empl.query('report_dt == "2022-12-31"').sort_values(by='salary', ascending=False)

C:\Users\Panda\AppData\Local\Temp\ipykernel_9672\3033126153.py:1: FutureWarning: The behavior of 'isin' with dtype=datetime64[us] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  empl.query('report_dt == "2022-12-31"').sort_values(by='salary', ascending=False)

,report_dt,i_pernr,fio,pos_name,salary
28898,2022-12-31,100193,Ларин Федор Алексеевич,Директор магазина,154700.0
29123,2022-12-31,100152,Вешняков Егор Глебович,Директор магазина,148300.0
29001,2022-12-31,100185,Макаров Артем Арсеньевич,Директор магазина,135300.0
28973,2022-12-31,100195,Тимошенко Елизаваета Петровна,Директор магазина,134700.0
29234,2022-12-31,100200,Безруков Глеб Артёмович,Директор магазина,134200.0
...,...,...,...,...,...
29060,2022-12-31,1758,Винниченко Владимир Андреевич,Кассир,20900.0
29352,2022-12-31,1775,Степанова Евгения Руслановна,Кассир,20900.0
29196,2022-12-31,1767,Зайцева Александра Захаровна,Кассир,20900.0
29150,2022-12-31,1732,Воронков Дмитрий Иванович,Кассир,20800.0
29302,2022-12-31,1741,Васильева Валерия Денисовна,Кассир,20800.0

#### Сортируем по дате

In [5]:
empl.sort_values(by='report_dt', ascending=False)

,report_dt,i_pernr,fio,pos_name,salary
29242,2022-12-31,1708,Руднева Галина Данииловна,Кассир,24500.0
28971,2022-12-31,1622,Елизарова Елена Александровна,Продавец-консультант,30800.0
28967,2022-12-31,1825,Киреева Александра Семёновна,Продавец-консультант,25900.0
29002,2022-12-31,100223,Лукин Егор Алексеевич,Заместитель директора магазина,77300.0
29008,2022-12-31,1856,Исаев Григорий Даниилович,Кассир,21200.0
...,...,...,...,...,...
5,2015-01-31,4,Никифоров Даниил Глебович,Продавец-консультант,15400.0
0,2015-01-31,100000,Кожевников Андрей Максимович,Директор магазина,45700.0
6,2015-01-31,5,Грачев Даниил Артёмович,Продавец-консультант,15400.0
7,2015-01-31,6,Леонов Николай Артурович,Продавец-консультант,15400.0
2,2015-01-31,1,Вишневскиая Валентина Константиновна,Кассир,12600.0

#### Сортируем сначала по дате, а затем строки с одинаковой датой сортируем по зарплате в порядке убывания

In [6]:
empl.sort_values(by=['report_dt', 'salary'], ascending=False)

,report_dt,i_pernr,fio,pos_name,salary
28898,2022-12-31,100193,Ларин Федор Алексеевич,Директор магазина,154700.0
29123,2022-12-31,100152,Вешняков Егор Глебович,Директор магазина,148300.0
29001,2022-12-31,100185,Макаров Артем Арсеньевич,Директор магазина,135300.0
28973,2022-12-31,100195,Тимошенко Елизаваета Петровна,Директор магазина,134700.0
29234,2022-12-31,100200,Безруков Глеб Артёмович,Директор магазина,134200.0
...,...,...,...,...,...
8,2015-01-31,7,Воробьев Семён Александрович,Продавец-консультант,15400.0
5,2015-01-31,4,Никифоров Даниил Глебович,Продавец-консультант,15400.0
9,2015-01-31,8,Жилина Валерия Александровна,Продавец-консультант,15400.0
3,2015-01-31,2,Литвинов Александр Максимович,Кассир,12600.0
2,2015-01-31,1,Вишневскиая Валентина Константиновна,Кассир,12600.0

#### Сортируем сначала по дате в порядке убывания, а затем строки с одинаковой датой сортируем по зарплате в порядке возрастания

In [7]:
empl.sort_values(by=['report_dt', 'salary'], ascending=[False, True])

,report_dt,i_pernr,fio,pos_name,salary
29302,2022-12-31,1741,Васильева Валерия Денисовна,Кассир,20800.0
29150,2022-12-31,1732,Воронков Дмитрий Иванович,Кассир,20800.0
29196,2022-12-31,1767,Зайцева Александра Захаровна,Кассир,20900.0
28927,2022-12-31,1753,Киреев Федор Николаевич,Кассир,20900.0
29282,2022-12-31,1246,Козина Екатерна Григорьевна,Кассир,20900.0
...,...,...,...,...,...
8,2015-01-31,7,Воробьев Семён Александрович,Продавец-консультант,15400.0
5,2015-01-31,4,Никифоров Даниил Глебович,Продавец-консультант,15400.0
9,2015-01-31,8,Жилина Валерия Александровна,Продавец-консультант,15400.0
1,2015-01-31,0,Дубинина Надежда Николаевна,Старший кассир,20000.0
0,2015-01-31,100000,Кожевников Андрей Максимович,Директор магазина,45700.0

#### Сортировка отдельной колонки

In [8]:
empl['report_dt'].sort_values()

5       2015-01-31
9       2015-01-31
8       2015-01-31
1       2015-01-31
2       2015-01-31
           ...
29013   2022-12-31
29053   2022-12-31
29285   2022-12-31
29271   2022-12-31
29339   2022-12-31
Name: report_dt, Length: 29372, dtype: datetime64[us]

In [9]:
empl['report_dt'].sort_values(ascending=False)

29242   2022-12-31
28971   2022-12-31
28967   2022-12-31
29002   2022-12-31
29008   2022-12-31
           ...
5       2015-01-31
0       2015-01-31
6       2015-01-31
7       2015-01-31
2       2015-01-31
Name: report_dt, Length: 29372, dtype: datetime64[us]

#### Сортировка по индексу

In [10]:
empl.sort_index()

,report_dt,i_pernr,fio,pos_name,salary
0,2015-01-31,100000,Кожевников Андрей Максимович,Директор магазина,45700.0
1,2015-01-31,0,Дубинина Надежда Николаевна,Старший кассир,20000.0
2,2015-01-31,1,Вишневскиая Валентина Константиновна,Кассир,12600.0
3,2015-01-31,2,Литвинов Александр Максимович,Кассир,12600.0
4,2015-01-31,3,Черняева Валерия Глебовна,Продавец-консультант,15400.0
...,...,...,...,...,...
29367,2022-12-31,1372,Морозова Раиса Ярославовна,Продавец-консультант,38000.0
29368,2022-12-31,1615,Фадеева Евгения Данииловна,Товаровед,31800.0
29369,2022-12-31,1748,Измайлов Григорий Артемович,Товаровед,28400.0
29370,2022-12-31,1616,Русаков Евгений Тимурович,Мастер по ремонту одежды,35500.0
29371,2022-12-31,1687,Суханова Дарья Фёдоровна,Уборщик,26400.0

#### При использовании с параметрами по умолчанию таблица отсортируется сначала по первому столбцу в индексе, а затем по второму в порядке возрастания

In [11]:
empl.set_index(['salary', 'i_pernr']).sort_index()

                  report_dt                                   fio  \
salary   i_pernr
12600.0  1       2015-05-31  Вишневскиая Валентина Константиновна
         1       2015-04-30  Вишневскиая Валентина Константиновна
         1       2015-02-28  Вишневскиая Валентина Константиновна
         1       2015-01-31  Вишневскиая Валентина Константиновна
         1       2015-03-31  Вишневскиая Валентина Константиновна
...                     ...                                   ...
148300.0 100152  2022-05-31                Вешняков Егор Глебович
         100152  2022-06-30                Вешняков Егор Глебович
154700.0 100193  2022-11-30                Ларин Федор Алексеевич
         100193  2022-10-31                Ларин Федор Алексеевич
         100193  2022-12-31                Ларин Федор Алексеевич

                           pos_name
salary   i_pernr
12600.0  1                   Кассир
         1                   Кассир
         1                   Кассир
         1                   Кассир
         1                   Кассир
...                             ...
148300.0 100152   Директор магазина
         100152   Директор магазина
154700.0 100193   Директор магазина
         100193   Директор магазина
         100193   Директор магазина

[29372 rows x 3 columns]

In [12]:
empl.set_index(['salary', 'i_pernr']).sort_index(level=['i_pernr', 0], ascending=[True, False])

                 report_dt                            fio  \
salary  i_pernr
32100.0 0       2016-06-30    Дубинина Надежда Николаевна
31200.0 0       2016-03-31    Дубинина Надежда Николаевна
        0       2016-02-29    Дубинина Надежда Николаевна
        0       2016-04-30    Дубинина Надежда Николаевна
        0       2016-05-31    Дубинина Надежда Николаевна
...                    ...                            ...
48300.0 100230  2022-12-31    Кулагин Матвей Вячеславович
53800.0 100231  2022-12-31      Зайцев Вячеслав Тимурович
        100231  2022-11-30      Зайцев Вячеслав Тимурович
78300.0 100232  2022-11-30  Дегтярева Кристина Дмитриевна
        100232  2022-12-31  Дегтярева Кристина Дмитриевна

                                       pos_name
salary  i_pernr
32100.0 0                        Старший кассир
31200.0 0                        Старший кассир
        0                        Старший кассир
        0                        Старший кассир
        0                        Старший кассир
...                                         ...
48300.0 100230                        Бухгалтер
53800.0 100231                        Бухгалтер
        100231                        Бухгалтер
78300.0 100232   Заместитель директора магазина
        100232   Заместитель директора магазина

[29372 rows x 3 columns]

### Метод sort_values удобно использовать вместе с методом drop_duplicates

Для каждого человека находим зарплату, с которой он впервые устраивался на работу

In [13]:
empl.sort_values('report_dt').drop_duplicates('i_pernr')

,report_dt,i_pernr,fio,pos_name,salary
5,2015-01-31,4,Никифоров Даниил Глебович,Продавец-консультант,15400.0
9,2015-01-31,8,Жилина Валерия Александровна,Продавец-консультант,15400.0
8,2015-01-31,7,Воробьев Семён Александрович,Продавец-консультант,15400.0
1,2015-01-31,0,Дубинина Надежда Николаевна,Старший кассир,20000.0
2,2015-01-31,1,Вишневскиая Валентина Константиновна,Кассир,12600.0
...,...,...,...,...,...
29067,2022-12-31,1941,Тихомирова Анна Дмитриевна,Продавец-консультант,27000.0
29043,2022-12-31,1924,Касаткина Мария Тимуровна,Продавец-консультант,26400.0
29110,2022-12-31,1943,Минаев Глеб Алексеевич,Продавец-консультант,27000.0
29073,2022-12-31,1942,Черкасов Борис Семенович,Продавец-консультант,27000.0
29151,2022-12-31,1929,Пономарева Варвара Олеговна,Кассир,21500.0

Для каждого человека находим последнюю зарплату

In [14]:
empl.sort_values('report_dt').drop_duplicates('i_pernr', keep='last')

,report_dt,i_pernr,fio,pos_name,salary
146,2015-07-31,11,Мельников Игорь Семёнович,Кассир,12800.0
151,2015-07-31,7,Воробьев Семён Александрович,Продавец-консультант,15400.0
180,2015-08-31,100000,Кожевников Андрей Максимович,Директор магазина,45700.0
251,2015-09-30,22,Ершова Маргарита Николаевна,Продавец-консультант,26400.0
291,2015-10-31,34,Свиридова Виктория Тимуровна,Продавец-консультант,26800.0
...,...,...,...,...,...
29013,2022-12-31,1667,Комаров Степан Захарович,Продавец-консультант,30800.0
29053,2022-12-31,1569,Петухова Татьяна Антоновна,Продавец-консультант,38000.0
29285,2022-12-31,1818,Онищенко Павел Максимович,Кассир,21100.0
29271,2022-12-31,1866,Дьякова Алена Антоновна,Продавец-консультант,26000.0
29339,2022-12-31,1745,Балашова Александра Владиславовна,Продавец-консультант,38700.0

## rank

Метод ранжирует наблюдения. Говорит каким по счету оно будет в отсортированном массиве

Метод может пригодиться если стоит задача найти какое-то по счету значение, например, второе по возрастанию

In [15]:
empl.iloc[:5, -1]

5472      21300.0
2943      20500.0
27274    123000.0
20345     28300.0
16129     34100.0
Name: salary, dtype: float64

In [16]:
empl.iloc[:5, -1].rank()

5472     2.0
2943     1.0
27274    5.0
20345    3.0
16129    4.0
Name: salary, dtype: float64

#### Разные методы работы с повторяющимися значениями

method = method{‘average’, ‘min’, ‘max’, ‘first’, ‘dense’}, default ‘average’

In [17]:
empl.iloc[[3, 5, 10, 23], -1]

20345    28300.0
6281     61200.0
20795    28300.0
17321    23300.0
Name: salary, dtype: float64

In [18]:
empl.iloc[[3, 5, 10, 23], -1].rank()

20345    2.5
6281     4.0
20795    2.5
17321    1.0
Name: salary, dtype: float64

In [19]:
empl.iloc[[3, 5, 10, 23], -1].rank(method='min')

20345    2.0
6281     4.0
20795    2.0
17321    1.0
Name: salary, dtype: float64

In [20]:
empl.iloc[[3, 5, 10, 23], -1].rank(method='max')

20345    3.0
6281     4.0
20795    3.0
17321    1.0
Name: salary, dtype: float64

In [21]:
empl.iloc[[3, 5, 10, 23], -1].rank(method='first')

20345    2.0
6281     4.0
20795    3.0
17321    1.0
Name: salary, dtype: float64

In [22]:
empl.iloc[[3, 5, 10, 23], -1].rank(method='dense')

20345    2.0
6281     3.0
20795    2.0
17321    1.0
Name: salary, dtype: float64

#### Ранжирование в обратном порядке

In [23]:
empl.iloc[[3, 5, 10, 23], -1]

20345    28300.0
6281     61200.0
20795    28300.0
17321    23300.0
Name: salary, dtype: float64

In [24]:
empl.iloc[[3, 5, 10, 23], -1].rank(ascending=False)

20345    2.5
6281     1.0
20795    2.5
17321    4.0
Name: salary, dtype: float64

In [25]:
(empl
    .query('report_dt == "2022-12-31"')
    .query('salary.rank(method="dense") == 95')
)

C:\Users\Panda\AppData\Local\Temp\ipykernel_9672\994604549.py:2: FutureWarning: The behavior of 'isin' with dtype=datetime64[us] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  .query('report_dt == "2022-12-31"')

,report_dt,i_pernr,fio,pos_name,salary
29124,2022-12-31,100224,Цветков Захар Сергеевич,Заместитель директора магазина,111200.0
28900,2022-12-31,100221,Жданова Вероника Валерьевна,Заместитель директора магазина,111200.0

# Задания

#### Описание таблиц лежит [здесь](https://github.com/victorlymarev/pandas/tree/main/tables#%D0%BE%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%B5-%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%86)

Некоторые таблицы занимают много памяти, поэтому каждые 5-10 заданий лучше перезапускайте ноутбук.

В формулировке некоторых заданий может содержаться вариативность. Если у вас есть сомнения, что требуется в задании, попробуйте решить несколько вариантов. Если вы не понимаете задание, можете написать об этом в комментариях под видео.

В большинстве случаев внешний вид итоговой таблицы не определен. Выведите на экран наиболее адекватный вариант. То есть таблицу, из которой можно будет сделать выводы.

Курс пока находится в разработке. Вы можете помочь другим людям добавив свое решение [сюда](https://docs.google.com/forms/d/1HYTBz_KfssY3Jps2dC3n0YnEqa6WBb5OIhLo1d32Xzw/edit).

Посмотреть решения других людей можно [здесь](https://docs.google.com/spreadsheets/d/1pMDYO-9UneLbPPnEuQ2shig0TOJdQTU-zipifyAnZMk/edit?resourcekey#gid=1998648012)

### Задание 1

Отсортируйте таблицу по возрастанию дат. Строки с одинаковой датой отсортируйте по убыванию цены

In [ ]:
import os
import pandas as pd

path_prices = '../tables/prices.parquet' if os.path.exists('../tables/prices.parquet') else 'https://drive.google.com/uc?id=1_KfYyYCsib8woanbP3VouLUpYp103dV5'

prices = pd.read_parquet(path_prices)
prices.head()

### Задание 2
Отсортируйте таблицу сначала по табельному номеру, а затем по зарплате

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

### Задание 3
Отсортируйте таблицу по убыванию дат

In [ ]:
import os
import pandas as pd

path_stocks = '../tables/stocks.parquet' if os.path.exists('../tables/stocks.parquet') else 'https://drive.google.com/uc?id=1weGquTtmR92mKYAeZhZCFHJjndyoSXZt'

stocks = pd.read_parquet(path_stocks)
stocks.head()

In [ ]:

# напишите свой код здесь

### Задание 4
Отсортируйте магазины так, чтобы сначала шли мелкие магазины, потом средние, а в конце крупные

<details>

<summary>Подсказка</summary>
 
Здесь вам помогут методы set_index и loc

</details>

In [ ]:
import os
import pandas as pd

path_shops = '../tables/shops.xlsx' if os.path.exists('../tables/shops.xlsx') else 'https://drive.google.com/uc?id=1gfnmceJa3Mc1X06NftTx9G9QfKfprjEB'

shops = pd.read_excel(path_shops)
shops.head()

In [ ]:
# напишите свой код здесь

### Задание 5
По таблице sales найдите стоимость самого дорогово товара в чеке

In [ ]:
import os
import pandas as pd

path_sales_sample_check = '../tables/sales_sample_check.parquet' if os.path.exists('../tables/sales_sample_check.parquet') else 'https://drive.google.com/uc?id=1oYT518oqGnEF51PSFHfSHYNP-690ktFL'
# path_sales = '../tables/sales.parquet' if os.path.exists('../tables/sales.parquet') else "https://drive.usercontent.google.com/download?id=15KwSxyM6hpNABGe6_vsrFZvD09VfHFyK&export=download&authuser=1&confirm=t&uuid=115bd48c-cc2c-4f2a-8b42-be5ca6ef6db8&at=APZUnTUVb8nfNANw5wr9Cad7PJ3U:1693327774694"

sales = pd.read_parquet(path_sales_sample_check)
sales.head()

In [ ]:
# напишите свой код здесь

### Задание 6
Чему равна третья самая высокая зарплата за май 2020 года в плотно отранжированном ряду

In [ ]:
import os
import pandas as pd

path_empl = '../tables/employees.parquet' if os.path.exists('../tables/employees.parquet') else 'https://drive.google.com/uc?id=1AARD5-eVlCxoApt5CYZebrC3Cqw42lvj'

empl = pd.read_parquet(path_empl)
empl.head()

In [ ]:
# напишите свой код здесь